<div class="order-success">
    <div class="order-success__icon">
        <i class="icon-check"></i>
    </div>
    <div class="order-success__text"></div>
    <div class="order-success__close-btn btn">
        Закрыть
    </div>
</div>