<section class="faq section" id="faq" data-section="faq">
    <div class="container">
        <h2 class="section-short-title">Вопросы и ответы</h2>
        <p class="section-title">Часто спрашивают</p>
        <p class="faq__desc">Не нашли ответ — напишите в Telegram, отвечу в течение часа</p>
        <div class="faq__items">
            {% for faqItem in faq %}
            <div class="faq-item">
                <div class="faq-item__label" tabindex="0">
                    <span>{{ faqItem.title }}</span>
                    <i class="icon-chevron-down"></i>
                </div>
                <div class="faq-item__dropdown">
                    <div class="faq-item__text">{{ faqItem.text }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>