.faq {
    padding: 100px 0;

    @media (max-width: 992px) {
        padding: 70px 0;
    }

    .container {
        max-width: 760px;
    }

    &__desc {
        font-size: 16px;
        color: #9898b8;
        line-height: 1.75;
        max-width: 620px;
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 48px;
    }
}