{% extends "layouts/base.twig" %}

{% block body %}

<div class="not-found">
    <div class="container">
        <div class="section-title">Страница потерялась&nbsp;:&nbsp;(</div>
        <div class="not-found__desc">
            Похоже, такой страницы не существует или она была перемещена. Но ничего страшного — давайте вернёмся на главную.
        </div>
        <div class="not-found__btns">
            <a href="#" class="btn">
                <span>На главную</span>
            </a>
        </div>
    </div>
</div>

{% endblock %}