{% extends "layouts/base.twig" %}

{% block seoTitle %}{{ seo_tags.title }}{% endblock %}
{% block seoDescription %}{{ seo_tags.description }}{% endblock %}
{% block seoKeywords %}{{ seo_tags.keywords }}{% endblock %}

{% block body %}
{% include "components/hero.twig" %}

{% include "components/all-services.twig" %}
<div class="section-divider"></div>

{% include "components/services.twig" %}

{% include "components/how-work.twig" %}
<div class="section-divider"></div>

{% include "components/cases.twig" %}
<div class="section-divider"></div>

{% include "components/fix-services.twig" %}
<div class="section-divider"></div>

{% include "components/faq.twig" %}
<div class="section-divider"></div>

{% include "components/contact.twig" %}
{% endblock %}