.footer-nav-link {

    a {
        display: inline-flex;
        font-size: 12px;
        color: #72728f;
        transition: color .2s;
        text-decoration: none;

        @media (any-hover: hover) {
            &:hover {
                color: #eaeaf6;
            }
        }
    }
}